.album {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#album-title {
  font-size: 30px;
  letter-spacing: 0.25em;
  font-family: 'Raleway', sans-serif;
  color: #f7b5d4;
}

.artist {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #dacbd3;
}

#release-info {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #f5e1eb;
}

table {
  display: inline-block;
  margin: auto;
  padding: 10px;
  width: inherit;
}

tbody {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #f6f4e6;
}
